.loginAndSignup{
    /* background-color: #42cee488;
    padding: 9.5px 0px */
}
/* .loginAndSignup{
    background:
	linear-gradient(#d9f5ef73,#d9f5ef73),
    linear-gradient(#d9f5ef73,#d9f5ef73),	
	url(../../../images/Why-You-Shouldn’t-Miss-Your-Dental-Check-Up.jpg) center center fixed;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
    padding: 9.5px 0px;
    height: 100vh;
} */
.login-container{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(100, 100, 100);
    margin-top: 50px;
}

.formContainer{
    width: 450px;
    margin: auto;
    margin-top: 50px;
    padding: 40px 0px;
    border-radius: 5px;
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.2); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 6px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
    background-color: linear-gradient(75deg, #19d3ae8c,#0fceecab);
}
.formContainer h3{
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
}
form input{
    width: 370px;
    margin-bottom: 20px;
    padding: 7px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    background: transparent;
    color: rgb(126, 126, 126);
}
#submitBtn{
    border: none;
    /* background: lightseagreen; */
    background: linear-gradient(75deg, #19d3ae8c,#0fceecab);
    color: white;
    margin-bottom: 20px;
    padding: 10px 0px;
}

.loginToggle strong{
    cursor: pointer;
    color: lightseagreen;
}
.loginImg{
   margin-top: 30px;
}

.googleSignInBtn{
    border: none;
    /* margin-top: 20px; */
    color: rgb(255, 255, 255);
    background: linear-gradient(75deg, #19d3ae8c,#0fceecab);
    padding: 7px 0px;
    padding-right: 60px;
}
.googleSignInBtn:hover, #submitBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.google-icon{
    margin-right: 40px;
    padding: 9px 14px;
    color: rgb(116, 116, 116);
    border-right: 1px solid #ffffff;
    background-color: #ffffffab;
}
.googleSignInBtn-content{
    /* background: linear-gradient(75deg, #19d3ae8c,#0fceecab);
    padding: 10px 60px; */
}
@media(max-width:768px){
    .loginImg{
        margin-top: 50px;
    }
    .or{
        color: #2c2c2c !important;
    }
}

.social-container{
    margin-top: 20px;
}
.social-icons{
    cursor: pointer;
    font-size: 27px;
    margin-right: 20px;
}