.Appointment-container{
    height: 700px;
    position: relative;
    background-image: url('../../../images/Mask\ Group\ 2.png');
    background-size: cover;
}
.Appointment-container::after{
    height: 650px;
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}

@media(max-width:768px){
    .Appointment-container::after{
        width: 100%;
        height: 900px;
    }
    .Appointment-container{
        height: 950px;
        
    }
}